@{
}
<h1>Add Cheese</h1>

<form method="post">
    <label for="cheese">Name</label><br />
    <input name="name" type="text" /><br /><br />
    <label for="description">Description</label><br />
    <input name="description" type="text" /><br /><br />
    <input type="submit" value="Add Cheese" />
</form>