
<h1>Edit Cheese</h1>


<form method="post">
    <label for="cheese">Name</label><br />
    <input name="name" type="text" value="@ViewBag.cheeses.Name" /><br /><br />
    <label for="description">Description</label><br />
    <input name="description" type="text" value="@ViewBag.cheeses.Description" /><br /><br />
    <input type="submit" value="Add Cheese" />
    <input type="hidden" value="@ViewBag.cheeses.CheeseId" name="id" />
</form>